.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0 5vw 3vw;
  pointer-events: none;
}

.footer__progress {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__progress__num {
  opacity: 0.5;
}

.footer__progress__bar {
  position: relative;
  height: 1px;
  width: 55%;
  margin-right: 5vw;
}

.footer__progress__bar__track,
.footer__progress__bar__line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $main-color;
  transition: background 0.2 ease;
}

.footer__progress__bar__track {
  opacity: 0.2;
}

.footer__progress__bar__line {
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.1s ease, background 0.2 ease;
}

.footer__info {
  width: 52.5%;
  position: relative;
}

.footer__info__base {
  margin-right: 5vw;
}

.footer__info__base .line__inner {
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0.4s;
}

.footer__info.active .footer__info__base .line__inner {
  transition: transform 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  transform: translateY(-100%);
}

.footer__info__detail {
  position: absolute;
  top: 0;
  left: 0;
  height: 3vw;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__info__detail .line {
  margin-right: 5vw;
}

.footer__info__detail .fade .line {
  margin-right: 2vw;
}

.footer__info__detail .line__inner {
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.footer__info.active .footer__info__detail .line__inner {
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
  transform: translateY(0);
}

.footer__scroll {
  width: 22.5%;
  text-align: right;
  position: relative;
}

.footer__scroll__drag .line__inner {
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
  transform: translateY(0);
}

.footer__scroll.active .footer__scroll__drag .line__inner {
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transform: translateY(-100%);
}

.footer__scroll__close {
  position: absolute;
  right: 0;
  top: 0;
}

.footer__scroll__close .line__inner {
  transition: transform 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  transform: translateY(100%);
}

.footer__scroll.active .footer__scroll__close .line__inner {
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
  transform: translateY(0);
}
