.footer__progress
  .footer__progress__num
    span.footer__progress__toggle 01
    | &nbsp;/&nbsp;
    span 07
  .footer__progress__bar
    .footer__progress__bar__line
    .footer__progress__bar__track